
<!-- included html for thi -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles/gallery.css') }}">

<div class="collection_info">
  <h2>{{collection.name}}</h2>
  <img src="{{collection.coverURL}}"><br>
  <b>Author: </b>{{collection.author}}
</div>

<div class="container">
  {% for images in rows %}
  <div class="row">
    {% for index, image in images %}
    <div class="col col_tile">
      <h6>{{image.title}}</h6>
      <img src="{{image.targetImageURL}}" onclick="openModal();currentSlide({{index+1}})" class="hover-shadow cursor">
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    {% for images in rows %}
      {% for index, image in images %}
        <div class="mySlides">
          <div class="numbertext">{{ index+1 }} / {{num_images}}</div>
          <img src="{{image.targetImageURL}}">
          <!-- optionally add a new book -->
          <form action="" method="post" role="form" enctype=multipart/form-data>

            <h4>Upload Image</h4>
            <div class="form-group">
              <input type=file name=file>
            </div>

            <h4>Name</h4>
            <div class="form-group">
              <input type="text" class="form-control" id="image_name" name="image_name" value="Happy Tiger">
            </div>

            <h4>Dimensions</h4>
            <div class="form-group">
              <label for="image_width">Width</label>
              <input type="text" class="form-control" id="image_width" name="image_width" value="1000">
              <label for="image_height">Height</label>
              <input type="text" class="form-control" id="image_height" name="image_height" value="1000">
            </div>

            <h4>Wikipedia Link</h4>
            <div class="form-group">
              <input type="text" class="form-control" id="description" name="description" value="https://en.wikipedia.org/wiki/Tiger">
            </div>

            <h4>Extra Image Link</h4>
            <div class="form-group" id="image_link">
              <input type="text" class="form-control" id="image_link_0" name="image_link_0" value="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Royal_Bengal_Tiger_at_Kanha_National_Park.jpg/1200px-Royal_Bengal_Tiger_at_Kanha_National_Park.jpg">
            </div>
            <br>

            <h4>YouTube Link</h4>
            <div class="form-group" id="video_link">
              <input type="text" class="form-control" id="video_link_0" name="video_link_0" value="https://www.youtube.com/watch?v=nX6XnIxPqO0">
            </div>
            <br>

            <h4>Extra Info Link</h4>
            <div class="form-group" id="info_link">
              <input type="text" class="form-control" id="info_link_0" name="info_link_0" value="https://www.worldwildlife.org/species/tiger">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Update</button>

          </form>
        </div>
      {% endfor %}
    {% endfor %}

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <div class="container">
      <div class="row">
        {% for images in rows %}
          {% for index, image in images %}
          <div class="col">
            <img class="demo" src="{{image.targetImageURL}}" onclick="currentSlide({{index+1}})" alt="{{image.title}}">
          </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
// Open the Modal
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
