/* html, body {
    height: 100%;
    width: 50%;
} */

body .container {
  margin: auto;
}

/* html {
    display: table;
    margin: auto;
} */

/* body {
    display: table-cell;
    vertical-align: middle;
} */

.form-group .form-control {
  margin-bottom: 3px;
}

#image_display img {
  width: 50%;
}
